# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

### Concepts

* pd.Series
* bigcolumn.reset_index(drop=True, inplace=True)
* DataFrame.columns = ['bedrs', 'bathrs', 'price_sqr_meter']

In [3]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [57]:
#rand_num_1 = pd.DataFrame( np.random.randint(1, 5, 100) ) 
#rand_num_2 = pd.DataFrame( np.random.randint(1, 4, 100) )   
#rand_num_3 = pd.DataFrame( np.random.randint(10000, 30001, 100) )

rand_num_1 = pd.Series(np.random.randint(1, high=5, size=100, dtype='l'))
rand_num_2 = pd.Series(np.random.randint(1, high=4, size=100, dtype='l'))
rand_num_3 = pd.Series(np.random.randint(10000, high=30001, size=100, dtype='l'))

rand_num_3.head()

0    24278
1    26844
2    20611
3    26805
4    10389
dtype: int32

### Step 3. Let's create a DataFrame by joinning the Series by column

In [60]:
DataFrame = pd.concat( [rand_num_1, rand_num_2, rand_num_3], axis=1 )
DataFrame.head()

   0  1      2
0  3  2  24278
1  2  1  26844
2  4  2  20611
3  1  2  26805
4  3  3  10389

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [63]:
DataFrame.columns = ['bedrs', 'bathrs', 'price_sqr_meter']

DataFrame.head()

   bedrs  bathrs  price_sqr_meter
0      3       2            24278
1      2       1            26844
2      4       2            20611
3      1       2            26805
4      3       3            10389

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [65]:
bigcolumn = pd.concat( [rand_num_1, rand_num_2, rand_num_3])

bigcolumn.tail()  # this is in series, have to convert into a DataFrame

bigcolumn = bigcolumn.to_frame()
print(type(bigcolumn))

<class 'pandas.core.frame.DataFrame'>

### Step 6. Ops it seems it is going only until index 99. Is it true?

In [66]:
len(bigcolumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [67]:
bigcolumn.reset_index(drop=True, inplace=True)

bigcolumn.tail()

         0
295  11280
296  29006
297  16683
298  22708
299  20662